<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Aritmetica</title>
</head>

<body>
<ul>
<li><strong>Operación</strong>: {{ operacion }}</li>
<li><strong>Operando #1</strong>: {{ op1 }}</li>
<li><strong>Operando #2</strong>: {{ op2 }}</li>
<li><strong>Resultado</strong>: {{ resultado }}</li>
</ul>

</body>

</html>
