<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Enlaces</title>
</head>

<body>
<h1>Enlaces</h1>
{% if enlaces %}
<ul>
{% for enlace in enlaces %}
<li><a href="{{ enlace.url }}" target="_blank">{{ enlace.titulo }}</a></li>
{% endfor %}
</ul>
{% else %}
<p>No hay enlaces que mostrar.</p>
{% endif %}

</body>

</html>
