<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Saludo dinámico con Django</title>
</head>

<body>
<p><strong>¡Hola {{ nombre|lower|title }}!</strong></p>

</body>

</html>
