<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Hora dinámica con Python</title>
  
</head>

<body>
<h1>Hora dinámica con Python</h1>

<p><strong>Hora:</strong> {{ hora }}</p>

</body>

</html>
